<form action="/translate" method="post">
<h1 align="center">"Por que você não amadurece" - Translator</h1>

 <div style="overflow-x:auto;">
 <table style="width:100%">
  <tr>
    <th>Texto</th>
    <th>Tradução</th>
  </tr>
  <tr>
    <td align="center"><input type="text" name="portuguese" value= "" style="width: 400px; height: 200px; font-size:25px"></td>
    <td align="center">
    <%= text_field :ecard, :sender, :value => params[:mimimi], style: 'width: 400px; height: 200px; font-size:25px', :readonly => true %>    
    </td>
  </tr>
  
</table>
</div>

<center>
<br>
<br>
<br>
<input type="submit" name="Submit" value="Traduzir"></center>
</form>

<div class="footerholder">
    <div class="footer">
    	<br>
    	<br>
    	<br>
  		<p>Posted by: Gilvan Ferreira</p>
  		<p>Contact information: <a href="mailto:gilvanfcf77@gmail.com">
  			gilvanfcf77@gmail.com</a>.</p>
	</div>
</div> 
